body{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    background-color: #fefcfc;
}

.main-div{
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 70%;
    height: 85%;
}

.main-details{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
}

.image{
    flex: 1;
    position: relative;
    display: flex;
    top: 5%;
    left: 5%;
    width: 80%;
    flex-direction: column;
}

.image-detail{
    flex: 1;
    position: relative;
    width: 100%;
    padding: 50px 0px;
    left: 5%;
}

.image_view{
    flex: 3;
    width: 80%;
}

.image_view img{
    width: 110%;
    height: 102%;
}

.image_view{
    position: relative;
}

.image_more{
    flex: 1;
    display: flex;
    flex-direction: row;
    top: 5%;
    position: relative;
}

.image_more div{
    position: relative;
    width: 16%;
    height: 60%;
    overflow: hidden;
    margin-right:2%;
}

.image_more img{
    position: relative;
    width: 100%;
    height: 100%;
}

.image-detail h1{
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.checked {
    color: #14d09b;
}

.image-detail h4{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.637);
    width: 50%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family:'Mukta', sans-serif;
    
}

.image-detail p{
    font-weight: 200;
    font-size: 14px;
    width: 90%;
    font-family:'Mukta', sans-serif;
    
}

.review{
    margin-block-start: 0px;
   
}

.image-detail img{
    width: 15px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}


.image-detail h2{
    font-size: 26px;
    font-family:'Mukta', sans-serif;
}

.image-detail a{
    color: black;
    text-underline-offset: 5px;
    font-size: 12px;
    font-family:'Mukta', sans-serif;
    
}

.add_cart{
    width: 35%;
    height: 40px;
    font-size: 11px;
    color: white;
    background-color: black;
    border: none;
    margin-right: 3%;
}
.add_wish{
    width: 35%;
    height: 40px;
    font-size: 11px;
    color: black;
    background-color: white;
    border: 1px solid black;
}

.sub-details{
    display: flex;
    width: 100%;
}

.sub-details {
    width: 100%;
    height: 200px;
    top: 8%;
    justify-content: space-around;
    position: relative;
    background-color: white;
    left: 3%;
}
.sub{
    display: flex;
    flex: 1;
}
.sub div{
    margin: 0% 3%;
}

.sub-details div h2{
    font-size: 16px;
    font-family:'Mukta', sans-serif;
    
}
.sub-details div p {
    width: 80%;
    font-weight: 200;
    font-size: 12px;
    font-family:'Mukta', sans-serif;
    
}
.sub-details img{
    width: 35px;
    position: relative;
    top: 4%;
}


#arrow_right {
    position: absolute;
    width: 40px;
    height: 35px;
    top: 50%;
    left: 100%;
    transform: translate(-50%,-50%);
}

#arrow_left {
    position: absolute;
    width: 40px;
    height: 35px;
    top: 50%;
    left: 8%;
    transform: translate(-50%,-50%);
}



@media only screen and (max-width:768px) {
    .main-div{
        width: 95%;
    }
    
    .image_view img{
        width: 110%;
        height: 70%;
    }
    
    .image_view{
        position: relative;
        top: 18%;
    }
    
    .image_more div{
        height: 45%;
    }
    .image_more{
        top: 0%;
    }
    .add_cart{
        font-size: 8px;
    }
    .add_wish{
        font-size: 8px;
    }
    .image-detail h1{
        font-size: 25px;
    }
    #arrow_right {
        top: 35%;
    }
    
    #arrow_left {
        top: 35%;
    }
    
    
}

@media only screen and (max-width:411px) {
    .main-details{
        flex-direction: column;
    }
    .image{
        flex-direction: row;
    }
    .image-detail{
        padding: 20px 0px;
    }
    .image_view img{
        width: 130%;
        height: 98%;
    }
    .image_more{
        flex-direction: column;
        left: 25%;
    }
    .image_more div{
        width: 70%;
        height: 70%;
        margin-bottom:10%;
    }
    .image-detail h4{
        width: 70%;
    }
    .sub-details{
        flex-direction: column;
    }
    .sub-details {
        top: 25%;
    }
    .sub{
        flex-direction: column;
        margin: 20px 0px;
    }
    #arrow_right {
        top: 50%;
        left: 120%;
    }
    
    #arrow_left {
        top: 50%;
        left: 8%;
    }
}